* {
    padding: 0;
    margin: 0;
}

:root {
    --themeColor: #ef3345;
}

.sec_padding {
    padding: 65px 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header a.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 15px !important;
}

ul.header_action .nav-link {
    padding: 10px 20px !important;
    border-radius: 8px;
}

.banner_contnet {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translate(0%, -50%);
}

.banner_contnet h1 {
    font-size: 4rem;
    color: #fff;
    width: 75%;
    font-weight: 700;
}

.banner_contnet h1 span {
    color: var(--themeColor)
}

.card_phon p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px;
}

.about_us p {
    font-size: 1.3em;
    margin-top: 25px;
    font-weight: 100;
}

.serv_card {
    height: 100%;
}

.trainer_card {
    width: 95%;
    background-color: #fff;
    margin: auto;
}

.trainer_card img {
    border: 3px solid red;
    border-radius: 65px;
    width: 120px;
    height: 120px;
}

#carouselExampleControls .carousel-item {
    padding: 30px 0;
}

section.trainer_sec {
    background: aliceblue;
}

.button_border,
.button_bg {
    border: 2px solid;
}